<div class="container-fluid mt-5 about-style" id="aboutid">
 <div class="row">
  <div class="col-md-10 col-12 mx-auto">
    <h1 class="text-center main-heading">About Us</h1>
    <p class="text-center sub-heading">Grow your business with us</p>
   <div class="row">
    <div class="col-md-6 col-12 hero-text d-flex justify-content-centre align-items-start flex-column">
<figure>
    <img src="image/download.jpg" alt="herosection_image">
  </figure>
      </div>
    
      {{!-- Right side --}}
      <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
      <h1>WE ARE THE PROFESSIONAL DEVELOPERS</h1>
      <p>Hey we are your number one source for all the things.We are commited to provide you the best quality and Services</p>
      <button class="btn-style btn-primary">Read more</button>
      </div>
      </div>
 </div>
</div>